@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: white;
  /* transition: all ease-in-out; */
}

body {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background-image: url("./images/josh-rose-trYl7JYATH0-unsplash.jpg");
}

/* styling for navigation bar */

.main {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  padding: 25px;
}

.main a {
  color: coral;
}

.main a:hover {
  color: white;
  animation: float 2000ms;
}

.child {
  font-weight: 800;
}

ul {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.nav-links {
  text-decoration: none;
  list-style: none;
  font-weight: 600;
}

/*  styling profile pic and content */

.title {
  display: grid;
  height: 80vh;
  grid-template-columns: 1fr 1fr;
  column-gap: 100px;
}

.content {
  align-self: center;
  color: white;
  text-align: center;
  margin-left: 30px;
}

.content h1 {
  font-size: 3rem;
  margin: 10px;
  margin-left: 20px;
}

.content h3 {
  margin: 10px;
  font-size: 1rem;
}

.content p {
  font-size: 0.7rem;
  text-align: justify;
  text-justify: inter-word;
}

.dpImage {
  align-self: center;
  filter: grayscale(100%);
}
.dpImage:hover {
  filter: grayscale(50%);
}

.title img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  border: 1px solid white;
  image-rendering: optimizeSpeed;
  margin-left: 10%;
  box-shadow: 0.01px 0.01px 7px #ccc;
}
.myname {
  background-image: cross-fade(25%);
  background-image: url("https://cdn.pixabay.com/photo/2017/07/08/11/33/white-2484120_960_720.png");
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: moveBg 90ms linear infinite;
  -webkit-animation: moveBg 20s linear infinite;
}

/* for all other pages */
.title-about,
.title-work,
.title-resume,
.title-apps {
  text-align: center;
}

/* footer style */

.last {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 1rem;
  margin-top: 5vh;
}

.contact {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.icon:hover {
  font-weight: 600;
}

.para {
  align-self: center;
  justify-self: center;
}
.para p:hover {
  color: yellow;
}

.para p {
  color: hsla(0, 10%, 60%, 1);
}

/* apps page style */

.app_main {
  display: flex-column;
  align-items: center;
  text-align: center;
  height: 75vh;
}
.app_first {
  margin-top: 1.2rem;
}
.app_second {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 10px;
}
.app_second_first {
  margin: 5px;
  width: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}
.app_second_first a {
  display: inline-block;
  background-color: rgb(255, 127, 80);
  margin: 15px;
  padding: 10px;
  border-radius: 10px;
}
.app_second_first a:hover {
  background-color: rgb(255, 127, 30);
  color: black;
  font-weight: 600;
}
.app_second_second {
  margin: 15px;
  width: 50%;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 20px;
}
.app_second_second a {
  display: inline-block;
  background-color: rgb(255, 127, 80);
  margin: 15px;
  padding: 10px;
  border-radius: 10px;
}
.app_second_second a:hover {
  background-color: rgb(255, 127, 30);
  color: black;
  font-weight: 600;
}

.app_second_first_tech {
  margin: 10px;
}

/* animation used */

/* for navigation bar */
@keyframes float {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

/* for name heading */
@keyframes moveBg {
  to {
    background-position: 0% 30%;
  }
  from {
    background-position: 100% 50%;
  }
}

/* responsive website style */

@media screen and (max-width: 768px) {
  /* background control */
  .front {
    height: auto;
  }

  /* navigation bar */
  .main {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    column-gap: 1fr;
  }

  li {
    margin: 15px;
  }

  /* content and profile pic */
  .title {
    display: grid;
    grid-template-columns: 1fr;
    /* row-gap: 1fr; */
  }

  .content p {
    margin: 15px;
  }

  .dpImage {
    justify-self: center;
  }

  .title img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 1px solid white;
    margin-left: 0;
  }

  /* footer style */

  .last {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    margin-top: 30vh; 
  }

  .contact {
    /* display: grid; */
    grid-template-columns: repeat(4, 1fr);
    align-self: center;
    justify-self: center;
    column-gap: 10px;
  }

  .para {
    align-self: center;
    justify-self: center;
  }

  /* --- apps page media query*/
  .app_second {
    display: flex;
    flex-direction: column;
  }
  .app_second_first,
  .app_second_second {
    width: 100%;
    /* margin: 10px; */
  }
}
