/* === BASE: Mobile === */
.navbar {
  height: 5rem;
  position: absolute;
  background-color: transparent;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.navbar--container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 1rem;
  margin-top: 0;
}

.navbar--container > h1 {
  font-family: 'BestermindRegular';
  color: var(--primary-2);
  font-size: 2rem;
  user-select: none;
}

.navLink--container {
  margin-top: 3rem;
}

.drawer > .MuiBackdrop-root {
  background: rgba(33, 33, 33, 0.15) !important;
  backdrop-filter: blur(20px) !important;
}

.MuiDrawer-paper {
  border-radius: 0 !important;
}

.nav-menu {
  color: var(--primary-2);
}

.nav-menu:hover {
  color: var(--primary-2);
}

/* === 601px+ === */
@media (min-width: 601px) {
  .navbar {
    height: 6.5rem;
  }
  .navbar--container {
    padding: 0 2rem;
    margin-top: 1rem;
  }
  .navbar--container > h1 {
    font-size: 2.2rem;
  }
}

/* === 801px+ === */
@media (min-width: 801px) {
  .navLink--container {
    margin-top: 5rem;
  }
}

/* === 1101px+ === */
@media (min-width: 1101px) {
  .navbar--container {
    padding: 0 3rem;
  }
  .navbar--container > h1 {
    font-size: 2.5rem;
  }
}
