.footer {
    font-family: var(--primaryFont);
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p {
    font-weight: 500;
    font-family: var(--primaryFont);
    font-size: 1.125rem;
}

.footer p span {
    font-size: 1.5rem;
}