/* === BASE: Mobile === */
.experience {
  padding: 3rem 0;
}

.experience-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.experience-description {
  width: 100%;
  flex: 1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: auto;
}

.experience-description > h1 {
  font-size: 2.5rem;
  font-family: var(--primaryFont);
  margin-bottom: 2rem;
  align-self: center;
}

.experience-description > div {
  width: 100%;
  max-width: 100%;
}

.experience-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  min-height: 100px;
  height: auto;
  padding: 1rem;
  border-radius: 20px;
  margin-bottom: 1.5rem;
  transition: background-color 200ms ease-in-out;
}

.expcard-img {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.expcard-img > img {
  width: 30px;
  pointer-events: none;
}

.experience-details {
  margin-left: 0.6rem;
}

.experience-details > h6 {
  font-family: var(--primaryFont);
  font-size: 0.85rem;
  font-weight: 700;
  margin-bottom: 0.45rem;
}

.experience-details > h4 {
  font-family: var(--primaryFont);
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 126%;
}

.experience-details > h5 {
  font-family: var(--primaryFont);
  font-size: 1.05rem;
  font-weight: 600;
  line-height: 126%;
}

.experience-image {
  display: none;
  box-sizing: border-box;
  padding: 1rem;
  flex: 0.35;
  margin-left: 7%;
  margin-top: 1rem;
  pointer-events: none;
}

.experience-image > img {
  width: 100%;
  pointer-events: none;
}

/* === 801px+ === */
@media (min-width: 801px) {
  .experience-description > h1 {
    font-size: 3rem;
  }
  .experience-card {
    padding: 1.5rem;
    min-height: 120px;
  }
  .expcard-img {
    width: 55px;
    height: 55px;
  }
  .expcard-img > img {
    width: 36px;
  }
  .experience-details > h6 {
    margin-bottom: 0.5rem;
  }
  .experience-details > h4 {
    font-size: 1.225rem;
    line-height: normal;
  }
  .experience-details > h5 {
    font-size: 1.15rem;
    line-height: normal;
  }
}

/* === 993px+ === */
@media (min-width: 993px) {
  .experience {
    padding: 4rem 0;
  }
  .experience-description {
    flex: 0.65;
    padding: 2rem;
    margin: 0;
    margin-left: 7%;
  }
  .experience-description > div {
    max-width: 500px;
  }
  .experience-description > h1 {
    font-size: 3.2rem;
    align-self: flex-start;
  }
  .experience-image {
    display: block;
  }
}

/* === 1381px+ === */
@media (min-width: 1381px) {
  .experience-description > h1 {
    font-size: 3.5rem;
  }
}
